<div>
  <h2 id="page-heading" data-cy="AdresseHeading">
    <span jhiTranslate="selbstregistrierungApp.adresse.home.title">Adresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="selbstregistrierungApp.adresse.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adresse"
        [routerLink]="['/adresse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="selbstregistrierungApp.adresse.home.createLabel"> Create a new Adresse </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="adresses?.length === 0">
    <span jhiTranslate="selbstregistrierungApp.adresse.home.notFound">No Adresses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="adresses && adresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="strasseUndNummer">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.strasseUndNummer">Strasse Und Nummer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresszusatz">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.adresszusatz">Adresszusatz</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postfach">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.postfach">Postfach</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefonFix">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.telefonFix">Telefon Fix</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefonGeschaeft">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.telefonGeschaeft">Telefon Geschaeft</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fax">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.fax">Fax</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresstyp">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.adresstyp">Adresstyp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zdp.id">
            <div class="d-flex">
              <span jhiTranslate="selbstregistrierungApp.adresse.zdp">Zdp</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adresse of adresses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/adresse', adresse.id, 'view']">{{ adresse.id }}</a>
          </td>
          <td>{{ adresse.strasseUndNummer }}</td>
          <td>{{ adresse.adresszusatz }}</td>
          <td>{{ adresse.postfach }}</td>
          <td>{{ adresse.telefonFix }}</td>
          <td>{{ adresse.telefonGeschaeft }}</td>
          <td>{{ adresse.fax }}</td>
          <td jhiTranslate="{{ 'selbstregistrierungApp.Adresstyp.' + adresse.adresstyp }}">{{ adresse.adresstyp }}</td>
          <td>
            <div *ngIf="adresse.zdp">
              <a [routerLink]="['/zdp', adresse.zdp.id, 'view']">{{ adresse.zdp.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/adresse', adresse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/adresse', adresse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(adresse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
